<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <!-- BOOTSTRAP BLOCK -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/my.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <title>Sweetbook</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="#">Sweetbook</a>
</nav>

<main id="loadrecipe" class="container-fluid mt-2">
    <div class="container bg-transparent">

        <!--recipe row beginning-->
        <div v-for="recipe in recipes" class="mb-2 border rounded">
            <div class="mx-2 my-2 ">
                <div class="row">
                    <div class="col-md-auto">
                <h2 class="h2">{{ recipe.name}}</h2>
                    </div>
                    <div class="col order-last text-right">
                        <img src="/ava/dv.jpg"  width="35" height="35" class="rounded-circle">
                        Dart V.
                    </div>
                </div>

                <p class="h3 text-muted mr-1">{{ recipe.description }}</p>
                <hr>
                <div class="row">
                    <div class="col-md-auto">
                        <h1 class="h4">Категории</h1>
                        <p><a href="#" v-for="category in recipe.categories" class="badge badge-secondary mr-1"> {{
                            category.name }} </a></p>
                    </div>
                    <div class="col-md-auto">
                        <h1 class="h4">Ингредиенты</h1>
                        <p><a href="#" v-for="composition in recipe.compositions" class="badge badge-dark mr-1">
                            {{ composition.ingredient.name }} </a></p>
                    </div>
                </div>
                <hr class="mt-n2">
                <div class="row">
                    <div class="col-md-auto">
                        <a class="btn btn-secondary my-1" href="#" role="button">Читать рецепт полностью</a>

                        <button type="button" class="btn btn-dark">
                            Рейтинг <span class="badge badge-light">4</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- recipe row ending-->

    <nav>
        <ul class="pagination justify-content-center">
            <li v-bind:class="isPreviousButtonEnabled()" @click="previousPage()">
                <a class="page-link" href="javascript:" tabindex="-1" aria-disabled="true">Назад</a>
            </li>


            <li v-for="page in pageCount" @click="getPageOfRecipes(page-1)" v-bind:class="isPageButtonActive(page-1)"
                aria-current="page">
                <a class="page-link" href="javascript:"> {{ page }}
                </a>
            </li>

            <li v-bind:class="isNextButtonEnabled()" @click="nextPage()">
                <a class="page-link" href="javascript:">Вперед</a>
            </li>
        </ul>

    </nav>

</main>

<script src="js/loadrecipe.js"></script>

<!-- BOOTSTRAP BLOCK -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!-- BOOTSTRAP BLOCK -->
</body>
</html>